    /*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /*estilos de header*/

header{
    background-color:rgb(125, 116, 255);
    
   
}
    /*logo*/
header img{
    width: 50%;
    
}

    /* Estilos de navegador*/
nav ul{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;  
}

nav ul li{
    list-style: none;
    padding: 1rem;
   display: inline-flex;
   
}

 header nav ul li:hover{
    transform: scale(0.9);
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 1rem;

  }

 .menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  ;
    justify-content: space-between;
    align-items: center;
    

  }



    /*estilos de main*/

main{
    background-color: whitesmoke;
}

    /* titulo del home*/

 main h1{
    color:black ;
    font-family: 'Nixie One', cursive;
    font-size: 4.5rem;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    text-align: center;
    justify-content: center;
    
    }

    /*Titulos de htmls restantes*/
main .titulos{
    color: rgb(74, 250, 74);
    font-size: 3.5rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0.5rem;
    } 


    /*estilos del parrafo*/

main .orden{
    text-align: center;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
   flex-wrap: nowrap;  
}
    /* posicion de la imagen de home*/

.fotobienvenidos{
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: row;
   flex-wrap: nowrap;  
 }
 
 .fotobienvenidos:hover{
    filter: drop-shadow(2px 2px 2px);
 }

    /* estilos y posicionamiento de formulario*/

 main form{
    display:list-item;
    text-align: center;
    list-style: none;
    
 }

 main form ul li{
    text-align: center;
 }

 
    /*Tamaño y posicionamiento imagenes html nosotros*/

.nosotrosvintage {
    width: 25rem;
    height: 25rem;
    margin: 1rem;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    justify-items: center;

}

/* estilos de subtitulo html servicios*/

 .subtitulo{
    text-align: center;
    color: rebeccapurple;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    justify-content: center;
 }

 /*Estilo y posicion de img y mapas html servicios*/


 .mardelplata{
        display: grid;
        grid-template-areas: 
            "map img "
        "map-dos img-dos";
        column-gap: 10px;
        justify-content: center;
     }
.trenrosa{
        width: 24rem;
        grid-area: img;
     }
     

     
 .deusvilla{
        width: 24rem;
        grid-area: img-dos;
     }
    
.cumpleanitos{
        width: 25rem;
        
     }


.mapamdq{
    grid-area: map;
}

.mapavg{
    grid-area: map-dos;
}


 /*css html vehiculos aplicando grid*/

.vehiculosfotos {
    display: grid;
    grid-template-areas:
    " img img-dos img-tres"
    "img-cuatro img-cinco img-seis"
    "img-siete img-ocho img-nueve"
    "img-diez img-once img-doce";
    justify-items: center;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;

    
}

.barco-uno {
    grid-area: img;
    width: 25rem;
    height: 20rem;
}

.barco-dos {
    grid-area: img-dos;
    width: 25rem;
    height: 20rem;
}

.barco-tres {
    grid-area: img-tres;
    width: 25rem;
    height: 20rem;
}
    
.candy-uno {
    grid-area: img-cuatro;
    width: 25rem;
    height: 20rem;
}
.candy-dos {
    grid-area: img-cinco;
    width: 25rem;
    height: 20rem;
}
.candy-tres {
    grid-area: img-seis;
    width: 25rem;
    height: 20rem;
}

.deus-uno {
    grid-area: img-siete;
    width: 25rem;
    height: 20rem;
}
.deus-dos {
    grid-area: img-ocho;
    width: 25rem;
    height: 20rem;
}

.deus-tres {
    grid-area: img-nueve;
    width: 25rem;
    height: 20rem;
}
.toto-uno {
    grid-area: img-diez;
    width: 25rem;
    height: 20rem;
}
    
.toto-dos {
    grid-area: img-once;
    width: 25rem;
    height: 20rem;
}
.toto-tres {
    grid-area: img-doce;
    width: 25rem;
    height: 20rem;
}
/*estilos del footer*/

footer {
    margin-right: 0px;
    background-color: rgb(125, 116, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    justify-content: space-around;
    align-items: center;
}
 .contacto{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: whitesmoke;
    
 }
 .redes{
    text-align: center;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;

 }
 
 footer h3{
    color: black;
 }

 @media screen and (min-width:0) and (max-width:660 ) {
    
 }